<footer>
        <div class="wrapper footer-wrapper">
        <div class="footer-section">
            <span>A propos</span>
            <p>Avec <em>Les mystères de Bourges</em>, nous vous proposons des jeux de piste sous forme de balades urbaines ponctuées d'énigmes. Conçus à Bourges, nos parcours s'appuient sur le patrimoine local berruyer afin de faire découvrir des endroits touristiques, connus ou non à tous les publics curieux d'apprendre en s'amusant.</p>
        </div>
        <div class="footer-section">
            <span>Tout ce qu'il faut savoir</span>
            <ul>
                <li><%= link_to 'Nos parcours', parcours_path %></li>
                <li><%= link_to 'Tarifs / Bon cadeau', tarifs_path %></li>
                <li><a href="avis-escape-game-bourges.html">Avis de joueurs</a></li>
                <li><a href="faq-escape-game-bourges.html">Foire aux questions</a></li>
                <li><%= link_to 'Podcast Nuits Lumière', nuitslumiere_path %></li>
            </ul>
        </div>
        <div class="footer-section">
            <span>En savoir plus</span>
            <ul>
                <li><%= link_to 'Contact', contact_path %></li>
                <li><a href="histoire-escape-game-bourges.html">Notre histoire</a></li>
                <li><a href="presse-escape-game-bourges.html">Ils parlent de nous</a></li>
                <li><a href="nos-amis.html">Nos amis</a></li>
                <li><%= link_to 'Politique de confidentialité', politique_confidentialite_path %></li>
                <li><%= link_to 'CGU', cgu_path %></li>
                <li><%= link_to 'Mentions légales', mentions_legales_path %></li>
            </ul>
        </div>
        <div class="footer-section">
            <span>Suivez-nous</span>
            <p><%= link_to "Facebook", 'https://www.facebook.com/lesmysteresdebourges' %></p>
            <p><%= link_to "Instagram", 'https://www.instagram.com/lesmysteresdebourges' %></p>
        </div>
    </div>
</footer>