<nav class="navbar">
    <%= link_to root_path, "aria-label": "Aller sur la page d\'accueil du site Les mystères de Bourges" do %>
        <%= image_tag "logotype-les-mysteres-de-Bourges-escape-game-exterieur-bourges.svg" %>
    <% end %>

    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
    </label>

    <ul class="menu">
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Jeux", parcours_path %></li>
        <li><%= link_to "Tarifs", tarifs_path %></li>
        <li><%= link_to "Horaires", horaires_path %></li>
        <li><%= link_to "Réservation", reservation_path %></li>
        <li><%= link_to "Podcast Nuits Lumière", nuitslumiere_path %></li>
        <li><%= link_to "Wine Gaming", wine_gaming_path %></li>
    </ul>
</nav>