<% content_for :meta_title, "Mes nuits bleues, un podcast audioguide pour les Nuits Lumière de Bourges. Une balade sonore proposée par @lesmysteresdebourges et @bonjoursassou" %>
<% content_for :meta_description, "Retrouvez 'Mes nuits bleues' notre podcast-audioguide pour vous accompagnez à la découverte des illuminations estivales de la ville de Bourges, au cours d'une balade sonore inédite." %>
<% content_for :meta_image, "les_mysteres_de_bourges_nuits_bleues_lumieres_podcast_audioguide_balade_sonore_open_graph_image" %>

<header class="wrapper header-mobile header-home">
    <div class="half">
        <h1>Voici "Mes nuits bleues", notre balade sonore pour parcourir <mark class="highlighted highlighted-blue">les Nuits Lumière</mark></h1>
        <p class="sub-title">Armés de vos meilleures chaussures, de vos écouteurs et de votre téléphone, venez découvrir les Nuits Lumière avec Les Mystères de Bourges et BonjourSassou ! Notre promenade audio gratuite, “Mes Nuits bleues” vous permettra d'apprécier pleinement le parcours d’illuminations du centre-ville, activité incontournable de l’été.</p>
    </div>
    <div class="half">
        <%= image_tag "podcast-nuits-lumiere-bourges-balade-sonore-patrimoine-visite-illumination-ete.png", class:"header-img", alt:"Mes nuits bleues, un podcast original pour commenter Les Nuits Lumière de Bourges durant l'été" %>
    </div>
</header>
<section class="full-wrapper-blue datatron-home">
    <div class="wrapper wrapper-blue">
        <h2>La playlist complète</h2>
        <div id="soundcloud-playlist">
            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1453523509&color=%231D40BA&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #1D40BA;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/lesmysteresdebourges" title="lesmysteresdebourges" target="_blank" style="color: #1D40BA; text-decoration: none;">lesmysteresdebourges</a> · <a href="https://soundcloud.com/lesmysteresdebourges/sets/mes-nuits-bleues" title="Mes nuits bleues" target="_blank" style="color: #1D40BA; text-decoration: none;">Mes nuits bleues</a></div>
        </div>
        <h2>Mode d'emploi du podcast <mark class="highlighted highlighted-blue">"Mes nuits bleues"</mark></h2>
        <ol id="night-playlist">
            <li>La piste 1, <em>Bienvenue à Bourges</em>, est un mode d’emploi, écoutez-le attentivement et passez à l’épisode suivant de notre podcast <em>Mes nuits bleues</em> ! <b>(1’30)</b><%= link_to "Écouter l'épisode 1", "https://soundcloud.com/lesmysteresdebourges/0-bienvenue-a-bourges?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li>Avant de visionner la projection du Jardin de l’Archevêché, lancez l’épisode 2, <em>Il était une fois Bourges</em>. Découvrez le Bourges médiéval avec le duc Jean de Berry, mais également l’histoire antique de la ville. Percez tous les mystères de la ville sur l’ancien rempart gallo-romain ! <b>(4’45)</b><%= link_to "Écouter l'épisode 2", "https://soundcloud.com/lesmysteresdebourges/1-il-etait-une-fois-bourges?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li>Après avoir visionné les illuminations du Jardin de l’Archevêché, lancez l’épisode 3 <em>Bourges d’hier et aujourd’hui</em> puis dirigez-vous vers la place Étienne Dolet. L’université de Bourges, le patrimoine industriel et culinaire, le basket, le Printemps de Bourges… Un voyage du XVe au XXIe siècle vous attend ici, sur l’ancien palais archiépiscopal ! <b>(5’50)</b><%= link_to "Écouter l'épisode 3", "https://soundcloud.com/lesmysteresdebourges/2-bourges-dhier-et-daujourdhui-place-etienne-dolet?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li>Une fois votre visionnage terminé, lancez l’épisode 4 <em>Bourges renaissant</em> et reprenez votre route vers l’Hôtel Lallemant. Un petit tour dans le Bourges renaissant, ça vous dit ? Rendez-vous chez les Lallemant pour en (sa)voir plus ! <b>(6’15)</b><%= link_to "Écouter l'épisode 4", "https://soundcloud.com/lesmysteresdebourges/3-bourges-renaissant-hotel-lallemant?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li>Entre l’Hôtel Lallemant et le musée Estève, écoutez l’épisode 5 <em>Bourges, cité d’arts</em>. Une petite exploration de l’histoire artistique de la ville vous attend dans la cour du musée Estève ! <b>(4’25)</b><%= link_to "Écouter l'épisode 5", "https://soundcloud.com/lesmysteresdebourges/4-bourges-cite-darts-musee?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li>En route vers le Palais Jacques Cœur, lancez l’épisode 6 <em>Bourges à Cœur</em>. Allez, une petite virée au Palais Jacques Cœur, pour percer tous les secrets du personnage le plus incontournable de la ville ! <b>(5’25)</b><%= link_to "Écouter l'épisode 6", "https://soundcloud.com/lesmysteresdebourges/5-bourges-a-coeur-palais?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li>Enfin, entre le Palais Jacques Cœur et l’Hôtel des Postes, écoutez le dernier épisode, <em>Bourges un point c’est tout</em>. Remontez le temps avec Ursine, à l’Hôtel des Postes, pour terminer votre parcours ! <b>(5’30)</b><%= link_to "Écouter l'épisode 7", "https://soundcloud.com/lesmysteresdebourges/6-bourges-un-point-cest-tout-hotel-des-postes?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
        </ol>
        <h2>Parcours <mark class="highlighted highlighted-blue">KIDS</mark></h2>
        <p class="sub-title">Le parcours KIDS propose une série de 6 épisodes très courts destinés aux enfants. A chaque épisode, nous répondons à une question que les enfants pourraient se poser lors du visionnage des projections des Nuits Lumière de Bourges selon le même principe que le parcours adulte. La durée totale est d'environ 12 minutes.</p>
        <ol id="night-playlist">
            <li><em>C’est qui, Ursine ?</em><%= link_to "Écouter l'épisode KIDS 1", "https://soundcloud.com/lesmysteresdebourges/kids-1-petite-ourse-bleue?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li><em>Pourquoi l’équipe de Bourges de basket s’appelle le Tango ?</em><%= link_to "Écouter l'épisode KIDS 2", "https://soundcloud.com/lesmysteresdebourges/kids-2-allez-tango-place-etienne-dolet-bourges?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li><em>Pourquoi l’Hôtel Lallemant s’appelle comme ça ?</em><%= link_to "Écouter l'épisode KIDS 3", "https://soundcloud.com/lesmysteresdebourges/kids-3-lhotel-enchante-hotel-lallemant-bourges?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li><em>C’est qui, Maurice Estève ?</em><%= link_to "Écouter l'épisode KIDS 4", "https://soundcloud.com/lesmysteresdebourges/kids-4-des-formes-et-des?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li><em>C’est qui, Jacques Cœur ?</em><%= link_to "Écouter l'épisode KIDS 5", "https://soundcloud.com/lesmysteresdebourges/kids-5-jacques-a-dit-raconte-moi-bourges-palais-jacques-coeur-bourges?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
            <li><em>C’est qui, Louis XI ?</em><%= link_to "Écouter l'épisode KIDS 6", "https://soundcloud.com/lesmysteresdebourges/kids-6-il-etait-une-fois-un-roi-hotel-des-postes-bourges?utm_source=modedemploi-website", class:"cta-link cta-blue-link" %></li>
        </ol>
        <h2>Une expérience de <mark class="highlighted highlighted-blue">partage</mark></h2>
        <ul class="cards-wrapper">
            <li class="card-container">
                <%= image_tag "nuits-lumiere-bourges-viste-touriste-balade-audio-podcast-qrcode.jpg", class:"card-cover-image", alt: "QR Code de la page 'Nuits lumière' pour permettre le partage de celle-ci à ses proches tout au long du parcours." %>
                <div class="card-content">
                    <h3>Partagez avec plaisir</h3>
                    <p class="sub-title">Partagez ce QR Code auprès de vos proches et des autres passants pour leur permettre d'accéder immédiatement à cette page.</p>
                </div>
            </li>
            <li class="card-container">
                <%= image_tag "bonjoursassou-sarah-banmouha-lesmysteresdebourges-podcast-nuits-lumiere-bourges.jpg", class:"card-cover-image", alt: "Portrait de Sarah Banhmouha alias, @bonjoursassou, près de la cathédrale Saint-Etienne à Bourges." %>
                <div class="card-content">
                    <h3>@bonjoursassou</h3>
                    <p class="sub-title">Les scripts, choix musicaux et voix-off ont été réalisés par <%= link_to 'BonjourSassou', 'https://www.instagram.com/BonjourSassou' %>. Merci Sarah pour ton magnifique travail et ton efficacité légendaire.</p>
                </div>
            </li>
            <li class="card-container">
                <%= image_tag "sophie-clement-bouakkaz-createurs-escape-game-urbain-mysteres-bourges.jpg", class:"card-cover-image", alt: "Photo Pierre Mérat : Vue contre-plongée de Sophie et Clément Bouakkaz, cofondateurs des jeux de piste Les Mystères de Bourges, escape game urbain à Bourges autour du patrimoine de la ville" %>
                <div class="card-content">
                    <h3>Sophie, Clément & Vous</h3>
                    <p class="sub-title">Nous sommes ravis que vous ayez choisi notre podcast pour parcourir les Nuits Lumière. Nous l'avons voulu accessible au plus grand nombre et espérons qu'il vous plaira.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="wrapper wrapper-white">
    <h2>C’est quoi, <mark class="highlighted highlighted-blue">les Nuits Lumières ?</mark></h2>
    <p class="sub-title">Les Nuits Lumière, c’est une attraction incontournable de Bourges, inaugurée en décembre 1999, à l’occasion du passage à l’an 2000. Depuis 2019, la ville de Bourges propose une nouvelle version Nuits Lumière, un parcours de projections dans le centre-ville. Ces illuminations, autour de six lieux emblématiques, reviennent sur l’Histoire de la ville au travers des siècles. Elles permettent de découvrir la ville autrement, alors que Bourges est baignée dans la lumière bleue…</p>
    <h2><mark class="highlighted highlighted-blue">Un podcast</mark> pour découvrir les Nuits Lumières ?</h2>
    <p class="sub-title">En plus de nos balades ludiques autour du patrimoine du centre historique de Bourges, nous vous proposons une toute nouvelle expérience... sonore, et totalement gratuite ! Dès juin 2022, vous pourrez à nouveau profiter de cette mise en lumière du patrimoine, mais cette fois-ci accompagnés d’un podcast, imaginé et créé en collaboration avec <%= link_to 'BonjourSassou', 'https://www.instagram.com/BonjourSassou' %> !</p>
    <h2>Pourquoi <mark class="highlighted highlighted-blue">un podcast</mark> ?</h2>
    <p class="sub-title">Ce podcast, c’est un autre moyen de mettre en valeur notre patrimoine. Cette visite audio vous permettra de mieux apprécier et comprendre les illuminations.</p>
    <h2>Où trouver cette <mark class="highlighted highlighted-blue">balade sonore</mark> des Nuits Lumière ? </h2>
    <p class="sub-title">Tous les audios sont accessibles gratuitement ci-dessus. Chaque épisode s'écoute avant la projection associée, pour profiter au mieux de l’expérience de son et de lumière proposée par la ville de Bourges sous la lumière des lanternes bleues ! À vos smartphones, promeneurs !</p>
    <h2>Comment marche <mark class="highlighted highlighted-blue">ce podcast</mark> ?</h2>
    <p class="sub-title">Cette visite sonore des Nuits Lumière est disponible en version adulte ou enfant. Branchez vos écouteurs sur votre smartphone pour une immersion optimale, lancez la piste, et partez à la découverte du Bourges estival et nocturne !</p>
    <h2><mark class="highlighted highlighted-blue">Combien de temps</mark> ça dure ?</h2>
    <p class="sub-title">Tout au long de vos 2 kilomètres de marche dans les rues de la ville, vous aurez accès à environ 35 minutes de contenu sonore (environ 10 minutes pour la version enfant) pour vous accompagner dans votre parcours ! </p>
</section>