<header class="wrapper header-mobile header-home">
    <div class="half">
        <h1>Découvrez nos jeux de piste façon <mark class="highlighted highlighted-red">escape game</mark></h1>
        <p class="sub-title">
            L'activité de plein air parfaite pour réunir famille, amis et collègues en centre-ville de Bourges au cours d'un moment à la fois divertissant et enrichissant.
        </p>
        <div class="ctas-container">
            <%= link_to 'Réservez dès maintenant', reservation_path, class: "cta cta-primary", role:"button" %>
        </div>
    </div>
    <div class="half">
        <%= image_tag "homepage-header.jpg", class:"header-img", alt:"Les mystères de Bourges, la meilleure activité de plein air à Bourges - Un escape game jeu de piste inédit !" %>
    </div>
</header>
<section class="full-wrapper-red datatron-home">
    <div class="wrapper wrapper-red">
        <div id="explore-games">
            <h2>Les <mark class="highlighted highlighted-red">parcours</mark></h2>
            <div class="game-cards">
                <div class="game-card" id="availlantcoeur-card">
                    <div class="game-details">
                        <h3>❤️ A vaillant coeur </h3>
                        <p>Jacques Coeur est LE personnage historique local. C'est un incontournable de Bourges. Mais saurez-vous vous montrez digne de sa confiance pour l'aider à protéger sa fortune ?</p>
                    </div>
                    <div class="game-pictures-grid">
                        <% [3, 5, 7, 6].each do |x| %>
                            <%= image_tag "escape-game-bourges-loisirs-famille-amis-activite-plein-air-evjf-patrimoine-#{x}", alt: "Photos de joueurs et des éléments du jeu de piste A vaillant coeur, le premier jeu de piste façon escape game à Bourges autour de la vie de Jacques Coeur." %>    
                        <% end %>   
                    </div>
                    <div class="english-flag">Also in English 🇬🇧</div>
                </div>
                <div class="game-card">
                    <div class="game-details">
                        <h3>📖 La grande his'Tory</h3>
                        <p>Partez sur les traces de Geoffroy Tory, berruyer méconnu qui a pourtant révolutionné la langue française à la Renaissance. Parviendrez-vous à mettre la main sur son trésor ? </p>
                    </div>
                    <div class="game-pictures-grid">
                        <% [8, 9, 4, 10].each do |x| %>
                            <%= image_tag "escape-game-bourges-loisirs-famille-amis-activite-plein-air-evjf-patrimoine-#{x}", alt: "Photos et images des joueurs et des éléments de jeu de La Grande His'Tory, le deuxième escape game urbain autour du patrimoine de la ville de Bourges, autour de la vie de Geoffroy Tory." %>    
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div id="bourges-game-board">
            <h2>Vous ne savez pas <mark class="highlighted highlighted-red">quoi faire à Bourges ?</mark></h2>
            <p class="sub-title">Nous avons l'activité qu'il vous faut. Culturels, ludiques et sans écran... nos jeux de piste ont décidément tout pour (vous) plaire.</p>
            <div class="rankings">
                <div class="data">
                    <div class="half">
                        <ul class="datatron">
                            <li class="datatron-item">
                                <span class="datatron-item-title-large">
                                    3 à 6
                                    <i>joueurs par équipe</i>
                                </span>
                                <p class="datatron-item-content">Nous vous accueillons par équipes de 3 à 6 joueurs. Mais comme dit l'adage "Plus on est de fou, plus on rit". Vous pouvez donc venir nombreux car nous pouvons accueillir jusqu'à 10 équipes en même temps.</p>
                            </li>
                            <li class="datatron-item">
                                <span class="datatron-item-title-large">
                                    2
                                    <i>heures de jeu</i>
                                </span>
                                <p class="datatron-item-content">Comme dans tout bon escape game qui se respecte, votre mission est limitée dans le temps. Nous vous donnons 2 heures pour la réaliser. <em>À vos marques ! Prêts ? Partez !</em></p>
                            </li>
                            <li class="datatron-item">
                                <span class="datatron-item-title-large">
                                    2/4
                                    <i>Niveau de difficulté</i>
                                </span>
                                <p class="datatron-item-content">Les énigmes ont été concues pour n'être ni trop facile, ni trop difficile. En réalité, il suffit de savoir lire, se laisser guider et avoir un peu d'imagination. A vous de jouer.</p>
                            </li>
                            <li class="datatron-item">
                                <span class="datatron-item-title-large">
                                    2 - 3 km
                                    <i>de distance</i>
                                </span>
                                <p class="datatron-item-content">Une balade accessible au plus grand nombre. Attention cependant, le centre-ville de Bourges est souvent pavé et assez valonné.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="half">
                        <%= image_tag "escape-game-bourges-loisirs-famille-amis-activite-plein-air-evjf-patrimoine-joueurs", class:"datatron-img", alt:"Deux joueurs autour de la carte de la zone de jeu pour l'escape game urbain La grande his'Tory, jeu de piste en plein air autour du patrimoine de la ville de Bourges, conçu par Les Mystères de Bourges." %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper wrapper-white">
    <h2>Notre <mark class="highlighted highlighted-red">concept</mark></h2>
    <p class="sub-title">Vous pensiez tout connaître de la ville de Bourges ? Savez-vous vraiment ce que cache la ville ? À mi-chemin entre escape game et jeu de piste, nos balades urbaines inédites sont créées autour du patrimoine de Bourges. Au cours de votre mission en plein air, vous arpenterez les rues de la ville : un terrain de jeu incomparable et unique pour une immersion totale dans le passé historique de Bourges.</p>
    <p class="sub-title">Décodez, observez et ouvrez les yeux à la recherche d’indices cachés afin de résoudre les énigmes pour pouvoir progresser dans notre jeu. Nos énigmes sont authentiques et sont imaginées autour de l’Histoire locale de notre belle cité. (Re)Découvrez Bourges comme vous ne l’avez jamais vu ! Attention, le temps vous est compté !</p>
    <p class="sub-title">Les mystères de Bourges, c'est se creuser les méninges et en apprendre plus sur l'histoire d'un quartier tout en s'amusant. Une activité idéale et une manière originale de visiter la ville comme un musée à ciel ouvert. Visitez la ville de Bourges autrement, entre amis, en famille, et même entre collègues, pour des occasions particulières (un séminaire ? un EVJF ?) ou pour le simple plaisir d’être ensemble !</p>
    <%= image_tag "jeu-piste-activite-parcours-plein-air-divertissante-famille-amis-bourges-nuits-lumieres", class:"landscape-banner-image", alt:"Objet magique contenu dans le sac de jeu La grande His'Tory, sous la lumière bleue des Nuits Lumières de Bourges." %>
    <h2>Réservez <mark class="highlighted highlighted-red">dès maintenant</mark></h2>
    <p class="sub-title">L'aventure vous attend. Réunissez vos meilleurs amis et lancez vous dans l'aventure ! Il ne manque plus que vous pour briller.</p>
    <%= link_to 'Réservez dès maintenant', reservation_path, class: "cta cta-big cta-primary", role:"button" %>
</section>